// Colors
$indigo: #742ca9;
// Default Bootstrap indigo
$indigo-100: tint-color($indigo, 80%) !default;
$indigo-200: tint-color($indigo, 60%) !default;
$indigo-300: tint-color($indigo, 40%) !default;
$indigo-400: tint-color($indigo, 20%) !default;
$indigo-500: $indigo !default;
$indigo-600: shade-color($indigo, 20%) !default;
$indigo-700: shade-color($indigo, 40%) !default;
$indigo-800: shade-color($indigo, 60%) !default;
$indigo-900: shade-color($indigo, 80%) !default;

// Default Bootstrap Grays
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

// Primary
$primary: $indigo-500;
$res-gray-700: #574b61;

$custom-colors: (
  'gray-100': $gray-100,
  'gray-200': $gray-200,
  'gray-300': $gray-300,
  'gray-400': $gray-400,
  'gray-500': $gray-500,
  'gray-600': $gray-600,
  'gray-700': $gray-700,
  'gray-800': $gray-800,
  'gray-900': $gray-900,
  'indigo-100': $gray-100,
  'indigo-200': $gray-200,
  'indigo-300': $gray-300,
  'indigo-400': $gray-400,
  'indigo-500': $gray-500,
  'indigo-600': $gray-600,
  'indigo-700': $gray-700,
  'indigo-800': $gray-800,
  'indigo-900': $gray-900
);

// Border
$res-border-radius-s: 4px;
$res-border-radius-m: 8px;
$res-border-radius-l: 12px;

// Bootstrap overrides
$border-radius: 0.275rem;
$btn-border-radius: $border-radius;
$btn-border-radius-sm: $border-radius;
$btn-border-radius-lg: $border-radius;
$input-border-radius: $border-radius;
$input-border-radius-sm: $border-radius;
$input-border-radius-lg: $border-radius;
